/* * {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(17, 17, 96);
  color: white;
}

nav {
  display: flex;
  justify-content: space around;
  align-items: center;
  height: 90px;
  background-color: rgba(32, 56, 142, 0.484);
}

.left {
  font-size: 1.5rem;
  margin: 25px;
}

.right {
  display: flex;
  flex-grow: 1; 
  justify-content: flex-end; 
  padding-right: 20px; 
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

.profileicon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profileicon img {
    max-width: 100%; 
    display: block; 
    border-radius: 50%;
    object-fit: cover ;
    overflow:hidden !important;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

nav ul li a:hover {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0;
}

.firstsection > div {
  width: 30%;
}

.leftsection {
  font-size: 3rem;
}

.rightsection img {
  width: 80%;
  border-radius: 20%;
  border: 5px black;
}

.purple {
  color: rgb(57, 182, 50);
}

#element {
  color: rgb(228, 124, 26);
}

.secondsection {
  max-width: 80vw;
  margin: auto;
}

main hr{
  border: 0;
  background: #9c97f1;
  height: 1.2px;
  margin: 40px 84px;
}

.secondsection h1
{
  font-size: 1.9rem;
}

.text-gray
{
  color: gray;
}

.secondsection .box
{
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

.secondsection .vertical
{
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 100px;
} */