* {
  margin: 0;
  padding: 0;
}

body {
  background-color: blue;
  color: white;
}

nav {
  display: flex;
  justify-content: space around;
  align-items: center;
  height: 90px;
  background-color: violet;
}

.left {
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: lavender;
  font-size: 1.2rem;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0;
}

.firstsection > div {
  width: 30%;
}

.leftsection {
  font-size: 3rem;
}

.rightsection img {
  width: 80%;
}

// you should make different style sheets for utility classes, classes like purple mentioned below(site specific), and classes that are changing body or whole html page for better management

.purple {
  color: yellow;
}

#element {
  color: lavender;
}

.secondsection
{
    max-width: 80vw;
    margin: auto;
}