* {
  margin: 0;
  padding: 0;
}

body {
  background-color: blue;
  color: white;
}

/* #favicon */
/* { */
/* border-radius: 50%;  */
/* what kind of program is required for this? */
/* } */

#favicon {
  width: 32px; /* Adjust the size as needed */
  height: 32px; /* Adjust the size as needed */
  border-radius: 50%; /* This makes the favicon round */
  background-color: #ffffff; /* This is the background color for the circular area */
  overflow: hidden; /* This ensures the favicon stays within the round shape */
  display: inline-block; /* To maintain the circular shape */
  margin-right: 10px; /* Optional: Adjust spacing if needed */
}

nav {
  display: flex;
  justify-content: space around;
  align-items: center;
  height: 90px;
  background-color: violet;
  /* why is the color pallete not appearing */
}

.left {
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: lavender;
  font-size: 1.2rem;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0;
}

.firstsection > div {
  width: 30%;
}

.leftsection {
  font-size: 3rem;
}

.rightsection img {
  width: 80%;
}

/* you should make different style sheets for utility classes, classes like purple mentioned below(site specific), and classes that are changing body or whole html page for better management */

.purple {
  color: yellow;
}

#element {
  color: lavender;
}

.secondsection {
  max-width: 80vw;
  margin: auto;
}
