.sidebar-section {
    display: flex;
}

.sidebar {
    height: 100vh;
    background-color: #1e1e2c;
    width: 90px;
}

.sidebar-toggle{
    width: 230px;
    color: black;
}

.sidebar-toggle-icons {
    display: flex;
    align-items: right;
    justify-content: right;
    cursor: pointer;
}

.sidebar-toggle-icons p svg{
    background-color: #f29f67;
    color: white;
    margin-top: 30px;
}